:root {
  --vs-c: #ccc;
  --vs-focus-b-c: #007fd4;
  --vs-sideBarSectionHeader-border: rgba(204, 204, 204, 0.2);
  --vs-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
  --vs-desc-c: rgba(204, 204, 204, 0.7);
  --vs-li-hover-bg: var(--vscode-list-hoverBackground, #2a2d2e);
  --vs-li-activeSelectionBg: #04395e;
  --vs-li-inactiveSelectionBg: #37373d;
  --vs-li-activeSelectionC: #fff;
  --vs-tree-indentGuidesStroke: #585858;

  --vs-quick-bg: var(--vscode-quickInput-background, #252526);
  --vs-quick-b-c: var(--vscode-pickerGroup-border, #3f3f46);

  --vs-btn-c: #fff;
  --vs-btn-bg: #0e639c;
  --vs-btn-hover-bg: #1177bb;
}

.monaco-workbench, .monaco-base, .vs-base {
  @apply text-13 lh-[1.4] select-none c-[--vs-c];
}

.vs-ul {
  position: relative;
  outline: 0 !important;

  &:focus::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    outline: 1px solid var(--vs-focus-b-c);
    outline-offset: -1px;
  }
  &:focus .vs-li.focused {
    outline: 1px solid var(--vs-focus-b-c);
    outline-offset: -1px;
  }
  &:focus .vs-li.selected {
    color: var(--vs-li-activeSelectionC);
    background: var(--vs-li-activeSelectionBg);
  }

  &.element-focused, &.element-selection {
    &::before { display: none; }
  }
}

.vs-li {
  cursor: pointer;
  &:hover {
    background: var(--vs-li-hover-bg);
  }
  &.selected {
    background: var(--vs-li-inactiveSelectionBg);
  }
}

.vs-ai {
  cursor: pointer;
  &:hover {
    background: var(--vscode-toolbar-hoverBackground, rgba(90, 93, 94, 0.31));
  }
}

.vs-btn {
  @apply inline-block py0 px10 b-none lh-26 text-14 c-[--vs-btn-c] bg-[--vs-btn-bg] cursor-pointer;
  outline: 1px solid transparent;
  outline-offset: 2px !important;

  &:disabled {
    filter: grayscale(1);
  }

  &:not([disabled]):hover {
    background: var(--vs-btn-hover-bg);
  }

  &:not([disabled]):focus {
    outline-color: var(--vs-focus-b-c);
  }

  & + & {
    margin-left: 12px;
  }
}

.vs-input {
  @apply block h26 py6 px6 c-inherit bg-#3c3c3c;
  &:focus, &.focused {
    outline: 1px solid var(--vs-focus-b-c);
  }
}

.vs-breadcrumb-li {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--vscode-breadcrumb-foreground, rgba(204, 204, 204, 0.8));
  &:hover {
    color: var(--vscode-breadcrumb-focusForeground, #e0e0e0);
  }
}

.vs-quick {
  @apply fixed top-36 left-50% translate-x--50% flex flex-col w600 b-1 b-c-[--vs-quick-b-c] bg-[--vs-quick-bg];
  box-shadow: 0 0 12px #00000050;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--vs-scrollbarSlider-background);
}

[tabindex="0"]:focus {
  outline-color: var(--vs-focus-b-c);
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
}

[tabindex="0"]:active {
  outline-width: 0;
}

// element-plus
.no-suffix {
  &.el-select > .el-select__wrapper > .el-select__suffix { display: none; }
}